<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>기본 텍스트</h1>
    <table>
        <thread>
            <tr>
                <th>순번</th>
                <th>상품명</th>
                <th>설명</th>
                <th>가격</th>
                <th>등록일</th>
            </tr>
        </thread>
        <tbody>
        <tr th:each="itemDto, status: ${itemDtoList}">
            <!--                <td th:if="${status.even}" th:text="짝수">0</td>-->
            <!--                <td th:unless="${status.even}" th:text="홀수">0</td>-->
            <td th:switch="${status.even}">
                <span th:case=true>짝수1</span>
                <span th:case=false>홀수1</span>
            </td>
            <td th:text="${itemDto.itemNm}">기본상품명</td>
            <td th:text="${itemDto.itemDetail}">기본정보</td>
            <td th:text="${itemDto.price}">0</td>
            <td th:text="${itemDto.regTime}">0000-00-00</td>
            </tr>

        </tbody>
    </table>
</body>
</html>